@import "../modules/popup/popup.less";
@import "../modules/matrix/matrix.less";
@import "../modules/progressBar/progressBar.less";
@import "../modules/sidemenu/sidemenu.less";
@import "../modules/selfWritingConsole/self-writing-console.less";
@import "../modules/console/console.less";

@fontColor: #fff4c2;

.App {
  padding: 2em;
  font-family: monospace;
  color: @fontColor;
  font-size: 1.1em;
  line-height: 1.4em;
  bottom: 0;
  top: 0;
  width: 90%;
  background-color: black;
  position: absolute;
  overflow: hidden;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.mobileWarning {
  padding: 1em;
  position: fixed;
  bottom: 20vh;
  margin: auto;
  width: 70vw;
  font-size: 1.2em;
  background-color: rgba(100,100,100,0.5);
  box-shadow: 0 0 0.2em 0 white;
}

