@import "src/app.less";

.AnimationSideMenuButton() {
  @keyframes keyFrames {
    0% { transform: rotate(1080deg); opacity: 0}
    5% { transform: rotate(1160deg); width: 200vw; }
    70% { opacity: 0.5 }
  }
  animation-name: keyFrames;
  animation-duration: 0.7s;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
}

.make-button-appear-as-link {
  button, button:focus, button:active {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    cursor: pointer;
    display: inline;
    outline: none;
    outline-offset: 0;
  }
}

.side-menu-container {
  .make-button-appear-as-link();
  .btn-open-side-menu {
    position: fixed;
    padding: 1em;
    top: 0;
    right: 0;
    transition: 0.3s;

    .AnimationSideMenuButton();
    width: 30px;
    opacity: 0.15;

    &:hover{
      opacity: 0.30;
    }

    button {
      visibility: visible;
      height: 100%;
      width: 100%;
    }

    svg {
      stroke: @fontColor;
      stroke-width: 5
    }
  }

  .side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1a1a1a;
    opacity: 0.9;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    box-sizing: border-box;

    button {
      padding: 10px 10px 10px 10px;
      text-decoration: none;
      font-size: 22px;
      color: @fontColor;
      display: block;
      transition: 0.3s;
    }

    button:hover {
      color: #fff;
    }

    .content {
      position: relative;
      left: 1em;
      overflow: hidden;
    }

    .btn-close {
      position: absolute;
      top: 5px;
      left: 0px;
      font-size: 4em;
    }
  }
}
