.App {
  padding: 2em;
  font-family: monospace;
  color: #fff4c2;
  font-size: 1.7em;
  line-height: 1.4em;
  bottom: 0;
  top: 0;
  width: 90%;
  background-color: black;
  position: absolute;
}

p{
  display: inline;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

.granted {
  position: fixed;
  top: 40%;
  left: 35%;
  background-color: green;
  padding: 0 1em;
  font-family: inherit;
  font-weight: bolder;
  font-size: 2em;
  border-color: #fff4c2;
  border-style: double;
  border-width: 0.2em;
  text-transform: uppercase;
}

.granted h2 {
  animation: blinker 2s linear infinite;
}

.denied {
  position: fixed;
  top: 40%;
  left: 35%;
  background-color: red;
  padding: 0 1em;
  font-family: inherit;
  font-weight: bolder;
  font-size: 2em;
  border-color: #fff4c2;
  border-style: double;
  border-width: 0.2em;
  text-transform: uppercase;
}

.denied h2 {
  animation: blinker 0.5s linear infinite;
}